 .u-section-1 {
  background-image: url("images/rfr-min.jpg");
  background-position: 100% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 767px;
}

.u-section-1 .u-image-1 {
  width: 958px;
  height: 539px;
  margin: 192px -279px 0 auto;
}

.u-section-1 .u-slider-1 {
  min-height: 398px;
  width: 705px;
  margin: -422px auto 60px 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: 32px;
  height: 10px;
  top: auto;
  left: 64px;
  right: auto;
  bottom: 37px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 65px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-transform: none;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 65px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
}

.u-section-1 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: -204px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 128px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
    margin-right: 0;
  }

  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    inset: auto auto 31px 0px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 65.32% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 15px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    inset: auto auto 25px 0px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 724px;
}

.u-section-2 .u-text-1 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 43px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 43px;
  min-height: 547px;
  margin-top: 36px;
  height: auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 401px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 181px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 638px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 638px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-line-1 {
  transform-origin: left center;
  border-style: solid;
  width: 87px;
  height: 7px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 23px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 10px 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 638px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  width: 749px;
  height: 481px;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 526px;
  }

  .u-section-3 .u-image-1 {
    width: 517px;
    height: 332px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 577px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 22px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 24px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-3 .u-image-1 {
    width: 396px;
    height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 426px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 550px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 218px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 927px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 124px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-4 .u-list-1 {
  width: 365px;
  margin: 48px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 533px;
  grid-gap: 27px 27px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 30px 30px;
}

.u-section-4 .u-image-1 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-4 .u-text-4 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  letter-spacing: 2px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-left: 61px;
    margin-right: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 321px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 298px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.625rem;
  }
}